.Filter{
    padding: 0px !important;
    margin-left: 12px;
    margin-right: 12px;
    
}
._jkVs9{
    width: 100%!important;
    z-index: 4;
}
._1mb06{
    z-index: 2000;
    background-color:white;
}